.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
}

.d1 {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}


@media (max-width: 768px) {
    .contenedor {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 480px) {
    .contenedor {
        grid-template-columns: 1fr; 
    }
}