div {
    background-color: aquamarine;
    width: 5%;
    margin: 10px;
    
}
.contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;

}

@media (max-width:768px) {
    .contenedor{
        display: flex;
        flex-direction: column;
    }
}